.jobs-scroll {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
}

/* Responsive scrollbar styling */
.jobs-scroll::-webkit-scrollbar {
    width: 8px;
}

.jobs-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.jobs-scroll::-webkit-scrollbar-thumb {
    background: #3e93cc;
    border-radius: 10px;
}

.jobs-scroll::-webkit-scrollbar-thumb:hover {
    background: #2874a6;
}

.JobList-list {
    padding: 1rem 2rem;
}
