/* Job-Bee theme: White navbar with orange (#FF8C42) and dark blue (#003366) accents */

.navbar-custom {
  background-color: white !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-expand-md {
  width: 100%;
  padding: 1rem;
  flex-direction: row;
  margin-bottom: 0px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar {
  margin-bottom: 2rem;
  margin-top: -0.25rem;
  background-color: white !important;
}

.navbar-brand h4 {
  color: #FF8C42;
  font-weight: bold;
  margin: 0;
}

.nav-link {
  color: #003366 !important;
  transition: color 0.3s ease;
  margin-right: 1.5rem;
}

.nav-link:hover {
  color: #FF8C42 !important;
}

